body
{
    background-color: #5de6de;
    background-image: linear-gradient(315deg, #5de6de 0%, #b58ecc 74%);
}

.heading
{
    width: 100%;
    margin: 0;
    font-size: 23px;
}

#start, #no_of_objects, #status
{
    font-size: 18px;
}

.copyright_footer
{
    position: fixed;
    color: gray;
    background-color: whitesmoke;
    width: 100%;
    bottom: 0;
    text-align: center;
    line-height: 3;
}

canvas
{
    border: 2px solid white;
    border-radius: 20px;
    margin-top: 130px;
    box-shadow: 5px 5px 5px white;
}

#input
{
    border-radius: 5px;
    width: 30%;
}